*.pdf
*.out
*.o
logfile.log
.DS_Store
Megaphone
Phonebook
Account
Zombie
Harl
War
origin
ScavTrap
FragTrap
ClapTrap
DiamondTrap
BankAccount
Animal
Fixed
Fixed2
Fixed3
Fixed4
Brain
AAnimal
Bureaucrat
AForm
Form
Intern
convert
serialize
Base
Template
Iter
Array
/.vscode/